:host {
  --ion-font-family: 'Poppins', sans-serif;
  --ion-padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
  }
}

.search {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    gap: 0.75rem;
    display: flex;
    align-items: center;

    h3 {
      font-weight: 600;
      font-size: 1rem;
    }

    strong {
      color: cornflowerblue;
      font-size: 0.75rem;
    }
  }

  span {
    font-weight: 600;
    font-size: 0.875rem;
    color: #BBB;
  }

  &__tag {
    color: #FFFFFF;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    background-color: cornflowerblue;
  }
}

.big-card {
  &__content {
    gap: 1rem;
    display: flex;
    padding: 0.5rem 1rem 1rem;
    align-items: center;
  }

  &__date {
    font-weight: 600;
    font-size: 0.875rem;
    color: #BBB;
  }

  &__avatars {
    gap: 0.5rem;
    display: flex;
  }
}

.mini-card-group {
  &__card {
    height: 100%;
    position: relative;

    img {
      height: 100%;
      border-radius: 0.5rem;
    }
  
    span {
      left: 0;
      bottom: 0.75rem;
      position: absolute;
      color: #FFFFFF;
      font-size: 0.625rem;
      padding: 0 0.5rem;
      border-radius: 0.25rem;
      background-color: #00000060;
    }
  }
}

.subtitle {
  font-weight: 600;
  font-size: 1rem;
}

.avatars {
  gap: 0.5rem;
  display: flex;
  align-items: center;

  &__text {
    color: cornflowerblue;
    margin-left: 0.5rem;
    font-size: 0.75rem;
  }
}